/* 
--- 1 TYPOGRAPHY SYSTEM
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 
Medium: 
Semi-bold: 
Bold: 

- Font heights:
Default: 
Small: 
Medium: 
Paragraph default: 
Large: 

- Letter spacing: 

--- 2 COLOURS
Primary:
#bdc3c7
#ff7675 - ALERT

Tints:
#aab0b3
Shades:
#676869
#262728
Accents:
Greys:

--- 3 SHADOWS

--- 4 BORDER RADIUS

--- 5 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', 'Verdana', sans-serif;
  color: #262728;
}

input,
select {
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0.5rem 0.5rem;
}

label {
  font-size: 1.6rem;
}

/* /////////////////////////////////////
CONFIG SECTION
//////////////////////////////////// */

.config-section {
  width: 100%;
  padding-bottom: 3.2rem;
}

.config-section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.6rem;
  margin-bottom: 1.6rem;

  background-color: #bdc3c7;
  border: 0.1rem solid #262728;
  border-radius: 1rem;
}

.toggle-switch {
  position: relative;
  width: 5.5rem;
  height: 3rem;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebedee;
  transition: 0.4s;
  border-radius: 3.4rem;
}

.slider:before {
  position: absolute;
  content: '';
  height: 2.2rem;
  width: 2.2rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: #676869;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch input:checked + .slider {
  background-color: #262728;
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(2.5rem);
  background-color: #ebedee;
}

.config-section-title {
  font-size: 3rem;
}

.btn-expand {
  height: 3rem;
  width: 5.5rem;

  background-color: #ebedee;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.icon-chevron-down {
  font-size: 2.4rem;
  color: #262728;
}

.input-text-field {
  width: 50%;
}

.add-remove-btn-container {
  display: flex;
  gap: 1.6rem;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 10rem;
}

.add-remove-btn-container-within-section {
  transform: translate(120%, -60%);
}

.add-remove-btn-container-within-form {
  transform: translateX(120%);
}

.tooltip {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(110%);
  background-color: #ebedee;
  font-size: 1.4rem;
  padding: 0.8rem;
  border-radius: 1rem;
}

.tooltip-field {
  bottom: 5rem;
}

.tooltip-section {
  bottom: 5rem;
  transform: translateX(25%);
}

.tooltip.hidden {
  transition: none;
}

.btn-add-new,
.btn-remove {
  height: 3.3rem;
  width: 3.3rem;
  font-size: 1.6rem;
  color: #262728;
  background-color: #bdc3c7;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.btn-add-new:hover,
.btn-remove:hover {
  animation: pulsate 1.5s infinite;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-bottom: 2.4rem;
}

.form-item {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hidden {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.5s;
}

.config-section-content:not(.hidden),
.resume-section:not(.hidden) {
  max-height: 500rem;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

.input-cloned-section {
  padding-top: 2.4rem;
  border-top: solid 0.2rem #676869;
}

.border-line-input {
  border-top: 1px solid #676869;
  padding-top: 2rem;
}

/* /////////////////////////////////////
PREVIEW WINDOW
//////////////////////////////////// */
.resume-section-heading {
  font-size: 2.4rem;
  padding-bottom: 1.6rem;
}

.resume-subsection-heading {
  font-size: 2rem;
  padding-bottom: 1.2rem;
}

.resume-subsection-heading-soft {
  padding-top: 1.6rem;
}

.border-line-resume {
  border-top: 1px solid #676869;
  padding-top: 2rem;
  margin-top: 2rem;
}

@keyframes activeElementAnimation {
  0% {
    color: #262728;
    transform: scale(1);
    transform-origin: left;
  }

  50% {
    color: #676869;
    transform: scale(1.07);
    transform-origin: left;
  }

  100% {
    color: #262728;
    transform: scale(1);
    transform-origin: left;
  }
}

.active-resume-element {
  animation: activeElementAnimation 2s infinite;
}

@keyframes invalidDateAnimation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #ff7675;
  }
  100% {
    background-color: #fff;
  }
}

.invalid-date-alert {
  background-color: #fff;
  animation: invalidDateAnimation 2s infinite;
}
