/* 
--- 1 TYPOGRAPHY SYSTEM
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 
Semi-bold: 600
Bold: 700

- Font heights:
Default: 
Small: 
Medium: 
Paragraph default: 
Large: 

- Letter spacing: 
2rem, 3rem

--- 2 COLOURS
Primary:
#bdc3c7

Tints:
#aab0b3
Shades:
#676869
#262728
Accents:
Greys:

--- 3 SHADOWS

--- 4 BORDER RADIUS

--- 5 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* /////////////////////////////////////
START PAGE
//////////////////////////////////// */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-advantage-bullet-points {
  font-size: 2.4rem;
  line-height: 4.8rem;
  margin: 12.8rem 0 6.4rem 0;
  list-style: none;
}

.link-editor,
.link-editor:link,
.link-editor:visited {
  font-size: 3rem;
  /* color: #262728; */
  color: #3c3d3e;
  background-color: #bdc3c7;
  text-decoration: none;
  padding: 2.4rem 4.8rem;
  border-radius: 1rem;
  box-shadow: none;
  transition: all 0.3s;
}

@keyframes pulsate {
  0% {
    background-color: #bdc3c7;
    box-shadow: none;
  }

  50% {
    background-color: #aab0b3;
    box-shadow: 0 0 0 8px #aab0b3;
  }

  100% {
    background-color: #bdc3c7;
    box-shadow: none;
  }
}

.link-editor:hover,
.link-editor:active {
  background-color: #aab0b3;
  color: #262728;
  /* box-shadow: 0 0 0 4px #aab0b3; */
  /* transition: all 0.4s; */
  animation: pulsate 1.5s infinite;
}

/* /////////////////////////////////////
RESUME CREATOR
//////////////////////////////////// */

.section-main-part {
  display: flex;
  gap: 9.6rem;
  align-items: start;
  justify-content: space-between;
  flex-basis: auto;
}

/* /////////////////////////////////////
CONFIG SECTION
//////////////////////////////////// */

.config-container {
  width: 35vw;
  padding: 6.4rem 0 6.4rem 6.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
}

.btn-add-new {
  height: 3.3rem;
  width: 3.3rem;
  font-size: 1.6rem;
  color: #262728;
  background-color: #bdc3c7;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  position: absolute;
}

.btn-add-new:hover {
  animation: pulsate 1.5s infinite;
}

.btn-add-new-link,
.btn-add-new-hard-skill,
.btn-add-new-soft-skill,
.btn-add-new-certificate {
  top: 0;
  right: -5rem;
}

.config-section-content-education,
.config-section-content-experience {
  position: relative;
}

.btn-add-new-education,
.btn-add-new-job {
  bottom: 0;
  right: -5rem;
}
/* /////////////////////////////////////
PREVIEW WINDOW
//////////////////////////////////// */

.container-preview-window {
  width: 50vw;
  padding: 6.4rem 6.4rem 6.4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
  line-height: 2rem;

  font-size: 1.6rem;
  line-height: 3rem;
}

.img-user-photo {
  width: 25%;
  border-radius: 1rem;
}

.resume-name {
  font-size: 3.2rem;
  padding: 2.4rem 0;
}

.resume-degree-container {
  display: flex;
  font-weight: 700;
}

.resume-separator-line {
  border: 0.05rem solid;
  margin: 0 1.6rem;
}

.resume-university-name {
  font-weight: 700;
}

.resume-degree-duration {
  display: flex;
  color: #676869;
  font-style: italic;
}

.resume-position-title {
  font-size: 2rem;
  font-weight: 600;
}

.resume-company-name {
  font-weight: 600;
}

.resume-job-duration {
  display: flex;
  color: #676869;
  font-style: italic;
  margin-bottom: 0.8rem;
}

/* /////////////////////////////////////
BOTTOM DISCLAIMER
//////////////////////////////////// */

.text-bottom-disclaimer-start {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  margin: 3.2rem 0;
}

.text-bottom-disclaimer {
  text-align: center;
  margin: 3.2rem 0;
}
